{% extends "layout.html" %}
{% load i18n %}

{% block title %}
  Login or Register
{% endblock %}

{% block content %}

  <div class="container" style="margin-top:10px;">
    <div class="row">
      <div class="col-md-5" style="margin-right:20px;">
        <div class="row">
          <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" >
              <h2>{% trans 'Log In' %}</h2>
              {% csrf_token %}
              {% include "partials/form_fields.html" with form=login_form %}
              <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
              <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
          </form>
        </div>
        <div class="row">
          <form id="register_form" action="{{ request.get_full_path }}" method="post" class="well">
              <h2>{% trans 'Register' %}</h2>
              {% csrf_token %}
              {% include "partials/form_fields.html" with form=registration_form %}
              <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Registering...' %}">{% trans 'Register' %}</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tiles">
          <!-- tILE 1 sidebar -->
          <div class="row">
               <div class="banner top-left" >
                  <a href="#">
                     <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url(../../static/assets/images/homepage-banners/1.jpg); height: 442px;">
                        <div class="caption">
                           <h3 class="title">GRILLED CHICKEN</h3>
                           <h4 class="subtitle">SUMMER PIZZA</h4>
                           <span class="button">HOT &amp; SPICY</span>
                           <span class="condition"><em>*</em>ONLY IN LOCAL</span>
                        </div>
                     </div>
                  </a>
            </div>
          </div>
          <!-- Tile 2 sidebar -->
          <div class="row">
               <div class="banner top-left" >
                  <a href="#">
                     <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url(../../static/assets/images/homepage-banners/1.jpg); height: 442px;">
                        <div class="caption">
                           <h3 class="title">GRILLED CHICKEN</h3>
                           <h4 class="subtitle">SUMMER PIZZA</h4>
                           <span class="button">HOT &amp; SPICY</span>
                           <span class="condition"><em>*</em>ONLY IN LOCAL</span>
                        </div>
                     </div>
                  </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% comment %}

  <div class="container">
    <div class="row">
        <div class="col-sm-6 login_form customer-login-form">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" >
                <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
            </form>
        </div>
        <div class="col-sm-6 register_form">
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="well">
                <h2>{% trans 'Register' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Registering...' %}">{% trans 'Register' %}</button>
            </form>
        </div>
    </div>
  </div>

{% endcomment %}

{% endblock content %}
