{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock title %} | FoodEZM</title>
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/font-awesome.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/animate.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/font-pizzaro.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/colors/red.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/jquery.mCustomScrollbar.min.css" %}" media="all" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CYanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
      <link rel="shortcut icon" href="{% static "assets/images/fav-icon.png" %}">
      <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
   </head>

   <body class="page-template-template-homepage-v1 home-v1">
     <div id="page" class="hfeed site">
       {% include "header.html" %}

       {% block content %}
       {% endblock content %}

       {% include "footer.html" %}

     </div>
     <script type="text/javascript" src="{% static "assets/js/jquery.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/tether.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/bootstrap.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/owl.carousel.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/social.share.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/scripts.min.js" %}"></script>
     <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
     <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
     <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
     <script type="text/javascript">
      $(document).ready(function(){
        $oscar.init();
      })
     </script>
   </body>
