{% load staticfiles %}

<header id="masthead" class="site-header header-v1" style="background-image: none; ">
   <div class="col-full">
      <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
      <div class="header-wrap">
         <div class="site-branding">
            <a href="{% url "promotions:home" %}" class="custom-logo-link" rel="home">
                  <img src="{% static "logo.png" %}" />
            </a>
         </div>
         <nav id="site-navigation" class="main-navigation" aria-label="Primary Navigation">
            <button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false"><span class="close-icon"><i class="po po-close-delete"></i></span><span class="menu-icon"><i class="po po-menu-icon"></i></span><span class=" screen-reader-text">Menu</span></button>
            <div class="primary-navigation">
               <ul id="menu-main-menu" class="menu nav-menu" aria-expanded="false">
                  <li class="menu-item"><a href="shop-grid-3-column.html">Order Online</a></li>
                  {% if request.user.is_authenticated %}
                    <li class="menu-item"><a href="#">My Account</a></li>
                    <li class="menu-item"><a href="{% url "customer:logout" %}">Logout</a></li>
                  {% else %}
                    <li class="menu-item"><a href="{% url "customer:login" %}">Login/Register</a></li>
                  {% endif %}
               </ul>
            </div>
            <div class="handheld-navigation">
               <span class="phm-close">Close</span>
               <ul class="menu">
                 {% for each in categories %}
                   <li class="menu-item"><a href="/catalogue/category/{{each.name}}_{{each.pk}}"><i class="po po-{{each.name|lower}}"></i>{{each.name}}</a></li>
                 {% endfor %}
               </ul>
            </div>
         </nav>
         <!-- #site-navigation -->
         <div class="header-info-wrapper">
            <div class="header-phone-numbers">
               <span class="intro-text">Call and Order in</span>
               <select class="select-city-phone-numbers" name="city-phone-numbers" id="city-phone-numbers">
                  <option value="54 548 779 654">Rohini</option>
                  <option value="54 548 119 214">Pitampura</option>
                  <option value="54 548 123 456">Vasant Kunj</option>
               </select>
               <span id="city-phone-number-label" class="phone-number">54 548 779 654</span>
            </div>
            <ul class="site-header-cart-v2 menu">
               <li class="cart-content ">
                  <a href="{% url "basket:summary" %}" title="View your shopping cart">
                  <i class="po po-scooter"></i>
                  <span>Go to Your Cart</span>
                  </a>
                  <ul class="sub-menu">
                     <li>
                        <a href="{% url "basket:summary" %}" title="View your shopping cart">
                        <span class="count">{{request.basket.num_lines}} items</span> <span class="amount">₹{{request.basket.total_excl_tax}}</span>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
      <div class="pizzaro-secondary-navigation">
         <nav class="secondary-navigation" aria-label="Secondary Navigation">
            <ul class="menu">
              {% for each in categories %}
                <li class="menu-item"><a href="/catalogue/category/{{each.name}}_{{each.pk}}"><i class="po po-{{each.name|lower}}"></i>{{each.name}}</a></li>
              {% endfor %}
            </ul>
         </nav>
         <!-- #secondary-navigation -->
      </div>
   </div>
</header>
