{% extends "catalogue/browse.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {{ category.name }}
{% endblock %}


{% block content %}
    <div id="content" class="site-content" tabindex="-1" style="margin-top:15px;">
      <div class="col-full">
        <div id="primary" class="content-area">
           <main id="main" class="site-main" >
              <div class="columns-4">
                 <ul class="products">
                   {% for each in products %}
                    <li class="product first">
                       <div class="product-outer">
                          <div class="product-inner">
                             <div class="product-image-wrapper">
                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                <img src="{{each.primary_image.original.url}}" class="img-responsive" alt="">
                                </a>
                             </div>
                             <div class="product-content-wrapper">
                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                   <h3>{{each.title}}</h3>
                                   <div itemprop="description">
                                      <p style="max-height: none;">{{each.description|safe}}</p>
                                   </div>
                                   <div  class="yith_wapo_groups_container">
                                      <div  class="ywapo_group_container ywapo_group_container_radio form-row form-row-wide " data-requested="1" data-type="radio" data-id="1" data-condition="">
                                         <h3><span>Pick Size</span></h3>
                                         <div class="ywapo_input_container ywapo_input_container_radio">


                                            <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">22 cm</span></span><span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>19</span></span>
                                         </div>
                                         <div class="ywapo_input_container ywapo_input_container_radio">

                                            <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">29 cm</span></span>
                                            <span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>25</span></span>
                                         </div>
                                      </div>
                                   </div>
                                </a>
                                <div class="hover-area">
                                   <a rel="nofollow" href="single-product-v1.html" data-quantity="1" data-product_id="51" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                </div>
                             </div>
                          </div>
                       </div>
                       <!-- /.product-outer -->
                    </li>
                    {% endfor %}
                 </ul>
              </div>
              <nav class="woocommerce-pagination">
                 <ul class="page-numbers">
                    <li><span class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="#">2</a></li>
                    <li><a class="page-numbers" href="#">3</a></li>
                    <li><a class="next page-numbers" href="#">Next Page &nbsp;&nbsp;&nbsp;→</a></li>
                 </ul>
              </nav>
           </main>
           <!-- #main -->
        </div>
        <!-- #primary -->

      </div>
    </div>
{% endblock %}
